<div class="app-description jumbotron">
  <h1>Analyze ATP tennis player activity</h1>
  <p class="lead">ATP Stat is an analytics service of atp tennis player activity.This service is using <a href=https://github.com/mosuke5/atp_scraper target="_blank">AtpScraper</a>.</p>
</div>

<h1 class="page-header">Current Data</h1>
<div class="row">
  <div class="col-md-4 current-data">
    <h2><%= @players_count %> <small>players</small></h2>
  </div>
  <div class="col-md-4 current-data">
    <h2><%= @activities_count %> <small>activities</small></h2>
  </div>
</div>
<h1 class="page-header">Analysis Data</h1>
<div class="row">
  <%= render 'analysis_result', { result: @ranking_vs_top10, title: 'vs Top10', name: 'top10' } %>
  <%= render 'analysis_result', { result: @ranking_vs_higher, title: 'vs Higher', name: 'higher' } %>
  <%= render 'analysis_result', { result: @ranking_vs_lower, title: 'vs Lower', name: 'lower' } %>
</div>
<h1 class="page-header">Current Ranking</h1>
<%= link_to "Show all players and search.", player_index_path %>
<div class="row">
  <% Range.new(0, 2).each do |n| %>
  <% start_ranking = n*10 %>
  <div class="col-md-4 current-ranking">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <% @ranking[start_ranking,10].each do |r| %>
        <tr>
          <td><%= r.ranking %></td>
          <td><%= link_to r.name, player_path(r.player.url_name) %></td>
          <td><%= r.points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
