<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Category</td>
        <td>Tournament</td>
        <td>Round</td>
        <td>Player(Rank)</td>
        <td>Opponet Player(Rank)</td>
        <td>Score</td>
        <td>Surface</td>
        <td>W-L</td>
      </tr>
    </thead>
    <tbody>
    <% activities.each do |activity| %>
      <%
      if activity.win_loss == 'W'
        tr_class = 'success'
      elsif activity.win_loss == 'L'
        tr_class = 'danger'
      end
      %>
      <tr class="<%= tr_class %>">
        <td><%= activity.tournament_category %></td>
        <td><%= activity.tournament_name %></td>
        <td><%= activity.round %></td>
        <td><%= activity.player_name %> (<%= output_ranking(activity.player_rank) %>)</td>
        <td><%= activity.opponent_name %> (<%= output_ranking(activity.opponent_rank) %>)</td>
        <td><%= activity.score %></td>
        <td><%= activity.tournament_surface %>(<%= activity.tournament_surface_inout %>)</td>
        <td><%= activity.win_loss%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
